@charset "UTF-8";
html {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial;
  font-size: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  font-weight: 300;
  color: #000;
}
p {
  font-weight: 300;
  line-height: 1.6rem;
}
#content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', Arial;
}
li {
  list-style-type: none;
}
.background {
  background-color: #61082b;
}
.centered-container {
  width: 100%;
  padding: 0 7% 0 7%;
  display: flex;
}

/* NAV */
nav {
  position: fixed;
  width: 100%;
  height: 70px;
}
nav > div {
  height: 100%;
}
nav ul {
  display: flex;
  margin: 0;
}
.nav-item {
  margin-right: 2rem;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-item a {
  font-size: 1rem;
  font-weight: 600;
}
.nav-item a:hover {
  text-decoration: underline;
}
#nav-primary {
  height: 100%;
  width: 65%;
  display: flex;
  align-items: center;
}
#nav-primary a {
  color: #fff;
  font-weight: 400;
}
#nav-primary img:first-child {
  margin-right: 0.4rem;
}
#nav-primary img:nth-child(2) {
  display: none;
}
#nav-primary > ul {
  display: none;
}
#nav-secondary {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#nav-secondary ul {
  display: flex;
  padding: 0;
}
#nav-secondary > ul > :last-child {
  display: none;
}
#nav-secondary a {
  color: #fff;
  font-weight: 400;
}
#nav-secondary .nav-item {
  margin-right: 0;
}

/* SECTION 1 */
#section1 {
  display: flex;
  width: 100%;
}
#welcome {
  width: 100%;
  display: flex;
}
#welcome > div {
  max-width: 50rem;
  margin: 3rem 0 0 0;
}
#welcome h1 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #b4d0e7;
  max-width: 39rem;
}
#welcome p {
  font-size: 1.1rem;
  color: #fff;
  max-width: 22rem;
  margin-bottom: 1rem;
}
#down-arrow {
  display: none;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
#signup-free-button {
  width: 13rem;
  padding: 0.7rem;
  background-color: #fff;
  margin-bottom: 3rem;
}

/* SIGNUP */
#signup-panel {
  visibility: hidden;
  position: fixed;
  right: 0;
  height: 100vh;
  width: calc(100vw - 88rem * 0.65 - (100vw - 88rem) / 2);
  min-width: 35vw;
  padding: 0 4rem 0 4rem;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
#signup-panel.hidden {
  right: -50%;
}
#signup-navbar {
  height: 90px;
  max-width: calc(88rem * 0.28);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#signup-container {
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
}
#signup-container > div {
  max-width: calc(88rem * 0.28);
  display: flex;
  flex-direction: column;
}
#signup-container h3 {
  font-size: 1.7rem;
  margin-bottom: 0;
}
#signup-container a {
  color: #0061ff;
}
#signin-subtitle {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  font-weight: 300;
}
#signup-form {
  margin-top: 1.3rem;
}
#signup-form input[type='text'] {
  font-size: 0.8rem;
  padding: 0.9rem 1rem;
  margin-bottom: 1.4rem;
  width: 100%;
  outline: none;
  border: 1px solid #bdc4c9;
}
#signup-form input[type='text']:focus {
  border-color: #000;
}
#policy {
  font-size: 0.8rem;
  font-weight: 300;
  color: #8392a2;
  margin: 0 0 1.4rem 0;
}
#agree-terms-container {
  margin-bottom: 1.4rem;
}
#agree-terms-container input {
  outline: 0;
  border: 1px solid #bdc4c9;
  border-radius: 0;
}
#agree-terms-container label {
  font-size: 0.8rem;
  font-weight: 400;
  color: #8392a2;
  margin-right: 0.6rem;
}
#signup-form button {
  width: 100%;
  margin-bottom: 1.1rem;
  padding: 0.7rem;
  cursor: pointer;
}
#signup-button {
  background-color: #0061ff;
  border-width: 0;
  color: #fff;
  font-weight: 300;
}
#signup-button:hover {
  opacity: 0.85;
}
#google-signup-button {
  background-color: #fff;
  border: 1px solid #d0d0d3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#google-signup-button:hover {
  background-color: #f5f5f5;
}
#google-signup-button img {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/* SECTION 2 */
#section2 {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #b4d0e7;
}
#section2 .centered-container {
  padding: 0;
}
#section2 .background {
  background-color: unset;
}
#section2 > div > div {
  display: flex;
  flex-direction: column;
}
#section2 span {
  display: block;
  font-size: 0.6rem;
}
#section2 img {
  width: 100%;
}
#section2-text {
  width: 100%;
  margin: 3rem 0 5rem 0;
  padding: 0 7% 0 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 3;
}
#section2-text h3 {
  color: #61082b;
  font-size: 1.6rem;
  margin: 0;
}
#section2-text p {
  font-weight: 400;
  font-size: 1.1rem;
  color: #000;
}
#section2-box {
  width: 100%;
  padding: 0 7% 0 7%;
  order: 1;
  background-color: #61082b;
}
#section2-box span {
  color: #ccc;
  text-align: right;
}
#section2-box img {
  width: 100%;
  margin: 0.3rem 0 -0.2rem 0;
}
#section2-drop {
  width: 100%;
  padding: 0 7% 0 7%;
  order: 2;
  display: flex;
  flex-direction: column-reverse;
}
#section2-drop img {
  margin-bottom: 0.2rem;
}

@media (min-width: 1050px) {
  .background {
    background: linear-gradient(to right, #61082b 65%, #b4d0e7 65%);
  }
  .centered-container {
    height: 100%;
    max-width: 88rem;
    margin: auto;
    padding: 0;
  }

  /* NAV */
  nav {
    height: 90px;
  }
  #nav-primary {
    padding-left: 4rem;
  }
  #nav-primary > ul {
    display: flex;
  }
  #nav-secondary > ul > :last-child {
    display: unset;
  }
  #nav-primary img:nth-child(2) {
    display: unset;
  }
  #nav-secondary a {
    color: unset;
    font-weight: unset;
  }
  #nav-secondary ul {
    padding: 0 4rem 0 4rem;
  }
  #nav-secondary .nav-item {
    margin-right: 2rem;
  }

  /* SECTION 1 */
  #section1 {
    height: 100vh;
  }
  #welcome {
    height: 100%;
    width: 65%;
    justify-content: flex-end;
    align-items: center;
  }
  #welcome > div {
    margin: 3rem 7rem 0 7rem;
  }
  #welcome h1 {
    font-size: 3.9rem;
  }
  #welcome p {
    margin-bottom: 4rem;
  }
  #down-arrow {
    display: unset;
  }
  #signup-free-button {
    display: none;
  }

  #signup-panel {
    visibility: unset;
  }

  /* SECTION 2 */
  #section2 {
    height: calc(100vh - 90px);
    background-color: unset;
  }
  #section2 > div {
    height: 100%;
    align-items: flex-end;
  }
  #section2 > div > div {
    max-height: 30rem;
    height: 60%;
    margin-bottom: 9rem;
    flex-direction: row;
  }
  #section2 img {
    height: 100%;
    width: unset;
  }
  #section2-text {
    width: 32%;
    height: 100%;
    margin: 0;
    padding: 0 10% 0 4rem;
    order: unset;
  }
  #section2-text h3 {
    color: #b4d0e7;
    font-size: 1.9rem;
  }
  #section2-text p {
    color: #fff;
  }
  #section2-box {
    width: 33%;
    height: 100%;
    padding: 0;
    order: unset;
    background-color: unset;
  }
  #section2-box span {
    transform: rotate(-90deg) translateX(-101.5%) translateY(-11px);
    transform-origin: left;
  }
  #section2-box img {
    width: 100%;
    margin: unset;
  }
  #section2-drop {
    width: unset;
    height: 100%;
    padding: 0 4rem 0 0;
    order: unset;
    display: unset;
  }
  #section2-drop span {
    text-align: right;
    transform: rotate(90deg) translateX(7.8rem) translateY(-7px);
    transform-origin: right;
  }
  #section2-drop img {
    margin-bottom: unset;
  }
}
