@charset "UTF-8";
html {
  box-sizing: border-box;
  font-family: 'Open Sans', Arial;
  font-size: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  font-weight: 300;
  color: #000;
}
p {
  font-weight: 300;
}
#content {
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', Arial;
}
li {
  list-style-type: none;
}

/* NAV */
nav {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
}
nav ul {
  display: flex;
  margin: 0;
}
.nav_item {
  margin-right: 2rem;
}
.nav_item:last-child {
  margin-right: 0;
}
.nav_item a {
  font-size: 1rem;
  font-weight: 600;
}
.nav_item a:hover {
  text-decoration: underline;
}
#nav_primary {
  height: 100%;
  width: 65%;
  padding-left: 4rem;
  display: flex;
  justify-content: flex-end;
  background-color: #61082b;
}
#nav_primary a {
  color: #fff;
  font-weight: 400;
}
#nav_primary > div {
  width: 54rem;
  display: flex;
  align-items: center;
}
#nav_primary > div > img:first-child {
  margin-right: 0.4rem;
}
.nav_secondary {
  height: 100%;
  width: 35%;
  padding: 0 4rem 0 4rem;
  display: flex;
  align-items: center;
  background-color: #b4d0e7;
}
.nav_secondary > div {
  width: 20rem;
  display: flex;
  justify-content: flex-end;
}
.nav_secondary ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

/* VIEW 1 */
#view_1 {
  display: flex;
  height: 100vh;
}
#empty_aside {
  width: 35%;
  background-color: #b4d0e7;
}

/* WELCOME */
#welcome {
  height: 100%;
  width: 65%;
  background-color: #61082b;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#welcome > div {
  width: 50rem;
  margin: 3rem 7rem 0 7rem;
}
#welcome h1 {
  font-weight: 600;
  font-size: 3.9rem;
  color: #b4d0e7;
  max-width: 39rem;
}
#welcome p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #fff;
  max-width: 22rem;
  margin-bottom: 4rem;
}
#down_arrow {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* SIGNUP */
#signup_panel {
  position: fixed;
  left: 65vw;
  height: 100vh;
  width: 35vw;
  padding: 0 4rem 0 4rem;
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: flex;
  flex-direction: column;
}
#signup_panel.hidden {
  left: 100vw;
}
#signup_navbar {
  height: 90px;
  max-width: 20rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#signup_container {
  height: calc(100vh - 90px);
  display: flex;
  align-items: center;
}
#signup_container > div {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
}
#signup_container h3 {
  font-size: 1.7rem;
  margin-bottom: 0;
}
#signup_container a {
  color: #0061ff;
}
#signin_subtitle {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  font-weight: 300;
}
#signup_form {
  margin-top: 1.3rem;
}
#signup_form input[type='text'] {
  font-size: 0.8rem;
  padding: 0.9rem 1rem;
  margin-bottom: 1.4rem;
  width: 100%;
  outline: none;
  border: 1px solid #bdc4c9;
}
#signup_form input[type='text']:focus {
  border-color: #000;
}
#policy {
  font-size: 0.7rem;
  font-weight: 300;
  color: #8392a2;
  margin: 0 0 1.4rem 0;
}
#agree_terms_container {
  margin-bottom: 1.4rem;
}
#agree_terms_container input {
  outline: 0;
  border: 1px solid #bdc4c9;
  border-radius: 0;
}
#agree_terms_container label {
  font-size: 0.8rem;
  font-weight: 400;
  color: #8392a2;
  margin-right: 0.6rem;
}
#signup_form button {
  width: 100%;
  margin-bottom: 1.1rem;
  padding: 0.7rem;
  cursor: pointer;
}
#signup_button {
  background-color: #0061ff;
  border-width: 0;
  color: #fff;
  font-weight: 300;
}
#signup_button:hover {
  opacity: 0.85;
}
#google_signup_button {
  background-color: #fff;
  border: 1px solid #d0d0d3;
  display: flex;
  justify-content: center;
  align-items: center;
}
#google_signup_button:hover {
  background-color: #f5f5f5;
}
#google_signup_button img {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/* VIEW 2 */
#view_2 {
  display: flex;
  height: calc(100vh - 90px);
  width: 100%;
  background-color: #0061ff;
}
#view_2 :first-child {
  width: 65%;
  background-color: #61082b;
}
#view_2 :last-child {
  width: 35%;
  background-color: #b4d0e7;
}
